<div class="home-card">
    <h1>ABOUT ME</h1>
    <p>Multi-Tasker, efficient, and Reliable Support professional with 4+ years of experience providing analytical
    Technical support to resolve complex issues and improve operations for SaaS Companies.</p>
    <p>Ruby on Rails developer who is enthusiastic about writing clean, efficient, and accessible code in a functional
    framework. Committed to the total development lifecycle, the maintenance of code quality and bug-free
    applications is of the utmost importance. A leader in identifying opportunities for applications development.</p>
</div>